:root {
    --clr-green-1: #198754;
    --clr-green-2: #12663f;
    --clr-white-1: #acacac;
    --clr-white-2: #d4d4d4;
    --clr-background: rgb(240, 240, 240);
    --shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.623);
    --clr-text-black: black;
    --clr-text-white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-background);
}

.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.dropdown button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: var(--clr-green-1);
    border: none;
    color: var(--clr-text-white);
}

.dropdown a {
    display: block;
    padding: 10px 15px;
    color: var(--clr-text-black);
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--clr-white-2);
    min-width: 100px;
    box-shadow: var(--shadow);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover button {
    background-color: var(--clr-green-2);
}

.dropdown a:hover {
    background-color: var(--clr-white-1);
    cursor: pointer;
}