* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
}

.header {
    /* background-color: rgb(32, 31, 37); */
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.dropdown button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #198754;
    border: none;
    color: white;
}

.dropdown a {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d4d4d4;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.623);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover button {
    background-color: #12663f;
}

.dropdown a:hover {
    background-color: #acacac;
    cursor: pointer;
}