* {
    font-size: small;
    margin: 0px;
    padding: 0px;
    border: 0.1px solid black;
}

html {
    border: none;
    height: 100vh;
    width: 99.78vw;
}

body {
    border: none;
    height: 100%;
    width: 100%;
}

#body {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.nobrdr {
    border: none;
}

.hidden {
    display: none;
}

img {
    border: none;
    max-height: 9vh;
    max-width: 14vw;
}

#double_image {
    border: none;
    display: contents;
}

/* SEÇÃO SUPERIOR E SEUS ATRIBUTOS */

.top_section {
    border: none;
    border-left: 0.1px solid black;
    padding-bottom: 0.4%;
    height: 4vh;
    width: 100%;
    display: grid;
    grid: auto auto / auto auto auto;
}

.top_section>p {
    border-top: none;
    border-left: none;
}

/* SEÇÃO INTERMEDIÁRIA E SEUS ATRIBUTOS */

.mid_section {
    border: none;
    height: 38vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mid_header {
    border-top: none;
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.mid_header>h6 {
    text-align: center;
    max-height: 100%;
}

.mid_low_header {
    border: none;
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left_header {
    border-top: none;
    border-bottom: none;
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
}

#quarto {
    width: 35%;
    padding-left: 5%;
}

#leito {
    width: 30%;
    padding-left: 7%;
}

#diagnosticos {
    width: 43%;
    text-align: center;
    border-left: 0.1px solid black;
}

.center_header {
    border: none;
    border-right: 0.1px solid black;
    height: 100%;
    width: 30%;
    display: grid;
    grid: auto / auto auto auto;
    justify-content: space-evenly;
    gap: 12%;
}

.right_header {
    border: none;
    border-bottom: 0.1px solid black;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
}

#exames {
    border: none;
    width: 50%;
}

#antibioticos {
    border-top: none;
    border-bottom: none;
    border-right: none;
    width: 50%;
}

.main_content {
    border: none;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left_box {
    border: none;
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
}

#riscos {
    border: none;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#riscos_caixa1 {
    height: 100%;
    width: 65%;
}

#riscos_caixa2 {
    border-left: none;
    border-right: 0.1px solid black;
    height: 100%;
    width: 35%;
}

.riscos_conteudo {
    border: none;
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#riscos_conteudo2 {
    border: none;
    height: 85%;
}

#riscos_list {
    display: flex;
    flex-direction: column;
}

#riscos_list>div {
    border: none;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 7%;
}

.riscos_footer {
    border: none;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#queda {
    border-left: none;
    border-bottom: none;
    width: 52%;
}

#dispositivos {
    width: 48%;
}

#alergias {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#alergias_caixa1 {
    border-bottom: 0.1px solid black;
    height: 100%;
    width: 25%;
}

#alergias_caixa2 {
    border-top: none;
    height: 100%;
    width: 75%;
}

#bottom_footer1 {
    height: 10%;
    width: 100%;
    display: grid;
    grid: auto / auto auto auto;
}

#bottom_footer1>p {
    border-left: none;
}

#bottom_footer2 {
    height: 10%;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
}

#bottom_footer2>p {
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.center_box {
    border: none;
    height: 100%;
    width: 30%;
}

#caixa_prioridades {
    border-left: none;
    border-bottom: none;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#prioridade {
    border-left: none;
    border-bottom: none;
    border-top: none;
    height: 100%;
    width: 33.3%;
}

.noright {
    border-right: none;
}

.prioridades_header {
    border: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#prioridade_avaliacao {
    text-align: center;
}

#sim_nao {
    border-bottom: 0.1px solid black;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
}

#nao {
    border-left: 0.1px solid black;
    padding-left: 10%;
}

#center_footer {
    border-bottom: none;
    border-left: none;
    height: 10%;
    width: 100%;
}

.right_box {
    border: none;
    height: 100%;
    width: 25%;
}

#upper_area {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#exames_content {
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 100%;
    width: 50%;
}

#antibioticos_content {
    border-top: none;
    border-bottom: none;
    height: 100%;
    width: 50%;
}

#espacamento {
    height: 60%;
}

#lower_area {
    height: 30%;
    width: 100%;
}

#precaucao {
    height: 25%;
    width: auto;
}